.App {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-areas: "nav" "main";
}

main {
  grid-area: main;
}

a {
 text-decoration: none;
}

@mixin checkDarkMode($isDark) {
  @if $isDark {
  } @else {
    background-color: #F8F5FA;
  }
}

.MuiGrid-root {
  background-color: #1F1E1C;
  max-height: 100%;
  max-width: 100%;
  padding: 0 1rem;
  @include checkDarkMode(isDarkMode);
}