.App {
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

a {
 text-decoration: none;
}

@mixin checkDarkMode($isDark) {
  @if $isDark {
  } @else {
    background-color: #F8F5FA;
  }
}

.MuiGrid-root {
  background-color: #1F1E1C;
  min-height: 100vh;
  padding: 0 1rem;
  @include checkDarkMode(isDarkMode);
}