.theme-switch {
  height: 2rem;
  width: 4rem;
  position: relative;

  &__input {
    display: none;
  }

  &__track {
    background-color: grey;
    border: 2px solid grey;
    position: absolute;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
  }

  &__thumb {
    margin: 2px;
    background-color: orange;
    position: absolute;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
  }

  &__input:checked + &__thumb {
    transform: translate(2rem, 0);
  }
}