nav {
  position: sticky;
  grid-area: nav;
  top: 0;
  background-color: white;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 4rem 4rem 4rem 4rem auto 8rem;
  max-width: 100vw;
  height: auto;
  padding: 0 1rem;
  z-index: 1;
}

nav > * {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  position: relative;

  &__input {
    height: 50%;
    width: inherit;
    padding: 0 5rem 0 1rem;
  }

  &__clear-btn {
    position: absolute;
    width: 4rem;
    right: 1rem;
    background-color: transparent;
    border: 1px solid darkgray;
    border-radius: 1rem;
    padding: 5px
  }

}

.theme-switch {
  height: 2rem;
  width: 4rem;
  position: relative;

  &__input {
    display: none;
  }

  &__track {
    background-color: inherit;
    position: absolute;
    border-radius: 2rem;
    border: 1px solid darkgray;
    padding: 2px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;

    &:before {
      content: "☀️";
      font-size: 1.5rem;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 2rem;
      border: 1px solid darkgray;
      height: 1.9rem;
      width: 1.9rem;
      transition: 0.5s ease-in-out;
    }
  }

  &__input:checked + &__track:before {
    content: "🌙";
    transform: translateX(100%);
  }
}

.authors {
  display: none;
}