@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oxygen:wght@700&display=swap');

// FONTS
$header-font: 'Oxygen', sans-serif;
$body-medium: 'Fira Sans', sans-serif;


// COLORS
$white: #FFFFFF;
$soft-black: #040000;
$tiktok-teal: #00E0D8;
$tiktok-red: #FC0150;
$tracker-primary: #D7C0D0;
$tracker-accent: #E0FF4F;