@import './partials/variables',
'./partials/extends',
'./partials/mixins',
'./components/App/App.scss',
'./components/Independent/Independent.scss',
'./components/NavBar/NavBar.scss',
'./components/OembedDialog/OembedDialog.scss';

:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}
